

<h1>Page d'acceuil</h1>

<div>
    <a href="~/Utilisateurs/Index">Gerer les utilisateurs</a>
</div>

<div>
    <a href="~/Admins/GererChambres">Gerer les chambres</a>
</div>

<div>
    <a href="~/Reservations/Index">Gerer les reservation</a>
</div>
